* {
  margin: 0;
  padding: 0;
}

html body {
  background: #f0f2f5;
  background-color: #f0f2f5;
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex_item {
  display: flex;
  align-items: center;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.yfos-layout-main .ant-layout-sider {
  overflow: auto;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
}

.yfos-layout-main .ant-layout-header {
  height: 48px;
  line-height: 0;
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  padding: 0 0 0 20px;
  justify-content: space-between;
}

.yfos-layout-header-action {
  height: 100%;
}

.yfos-layout-header-action__item {
  cursor: pointer;
  padding: 0 15px;
  height: 100%;
}

.yfos-layout-header-action__item:hover {
  background: #f5f5f5;
}

.tags_views .ant-tabs.ant-tabs-card .ant-tabs-nav {
  padding-top: 2px;
  height: 30px;
  margin: 0;
  background-color: #fff;
  border: 0;
  box-shadow: none;
}

.tags_views .ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab,
.tags_views .ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab {
  margin-right: 5px;
}

.tags_views .ant-tabs.ant-tabs-card .ant-tabs-nav .ant-tabs-tab-active {
  position: relative;
  padding-left: 18px;
  background: #0960bd;
  border: 0;
  transition: none;
}

.tags_views .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff;
}

.yfos-icon-size {
  font-size: 20px;
}


.yfos-basic-drawer .ant-drawer-body {
  padding: 0;
}
.yfos-basic-drawer .ant-drawer-content-wrapper {
  width: 330px !important;
}
.scrollbar__warp {
  padding: 20px 15px;
  overflow-y: auto;
}

.ant-btn-warning:not(.ant-btn-link,.is-disabled) {
  border-color: #efbd47;
  background-color: #efbd47;
  color: #fff;
}

.ant-btn-warning:not(.ant-btn-link,.is-disabled):hover, .ant-btn-warning:not(.ant-btn-link,.is-disabled):focus {
  border-color: #f3ce76;
  background-color: #f3ce76;
  color: #fff;
}

.yfos-warpper {
  background: #fff;
  padding: 10px;
}


/* fade-slide 动画 */
.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.3s;
}

.fade-slide-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-slide-leave-to {
  opacity: 0;
  transform: translateX(30px);
}